.header{
    text-align:center;
    
}
.name,
.desc {
 
    color: #b2bd9a;
}
 .myphoto {
    margin-top: 10rem;
    margin-bottom: 5rem;
    width: 400px;
    height: 400px;
    border-radius: 200px 200px;

 }
 
 

    .nav {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 20px;

  a {
    text-decoration: none;
    color: #b75306;
    font-weight: bold;
    background-color: #b2bd9a;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1.2rem;
    
    &:hover {
      color: #e27508;
    }
  }
}

 